@media screen and (max-width: 1024px) {
    .showcase {
        max-width: 1200px !important;
        width: 96%;
        gap: 10px;
    }

    .left-content h2 {
        font-size: 2rem !important;
    }

    .veneer-grid {
        max-width: 115% !important;
        gap: 7px !important;
    }

    .veneer-sample {
        width: 50px !important;
        height: 50px !important;
    }

    .enquire-btn {
        padding: 0px 0px !important;
        font-size: 14px !important;
    }

    .door-inner {
        width: 85% !important;
        height: 98% !important;
    }

    .form-side {
        padding: 18px 18px !important;
        max-height: 100vh !important;
    }

    .custom-cursor,
    .cursor-follower {
        display: none !important;
    }

    #customVideo {
        width: 480px !important;
    }

    .door-title p {
        width: 80% !important;
        margin: 0px auto !important;
    }
}

@media screen and (max-width:970px) {
    .contact-section {
        grid-template-columns: 0.9fr 1fr !important;
        display: block !important;
        max-height: none !important;
        margin-bottom: 30px !important;
    }

    .brand-side {
        overflow: visible !important;
    }

    .form-segment {
        margin-bottom: 10px !important;
    }
}

@media screen and (max-width:810px) {
    .showcase {
        display: block !important;
        margin-top: 10px !important;
    }

    .right-content {
        height: 50% !important;
    }

    /* .door-frame {
        width: 300px !important;
        height: 526px !important;
    } */

    .door-display {
        width: 80% !important;
    }

    .door-inner {
        width: 90% !important;
        height: 104% !important;
    }

    .container2 {
        height: 170vh !important;
    }

    .veneer-sample {
        width: 75px !important;
        height: 75px !important;
    }

    .veneer-grid {
        max-width: 100% !important;
        gap: 30px !important;
    }
}

@media screen and (max-width:769px) {
    .carousel-item video {
        height: 300px !important;
    }
}

@media screen and (max-width:650px) {
    .veneer-grid {
        max-width: 110% !important;
    }

    .right-content {
        height: 43% !important;
    }
}

@media screen and (max-width:630px) {
    .veneer-grid {
        max-width: 95% !important;
    }

    .right-content {
        height: 43% !important;
    }

    .container2 {
        height: 195vh !important;
    }
}

@media screen and (max-width:575px) {
    .container2 {
        height: 214vh !important;
    }

    .swiper {
        width: 84% !important;
    }

    .door-display {
        width: 100% !important;
    }
}

@media screen and (max-width:480px) {
    .swiper {
        width: 48% !important;
    }

    .door-frame {
        left: 70% !important;
    }
}

@media screen and (max-width:469px) {
    .veneer-sample {
        width: 55px !important;
        height: 55px !important;
    }

    .veneer-grid {
        max-width: 105% !important;
        gap: 18px !important;
    }

    #customVideo {
        width: 450px !important;
    }

    .door-frame {
        left: 75% !important;
    }
}

@media screen and (max-width:361px) {
    .about-heading {
        font-size: 19px !important;
    }

    #customVideo {
        width: 320px !important;
    }

    .door-display {
        width: 91% !important;
    }

    .swiper {
        width: 62% !important;
    }

    .door-inner {
        width: 76% !important;
        height: 88% !important;
    }

    .door-frame {
        left: 86% !important;
    }

    .container2 {
        height: 197vh !important;
    }

    .door-title::before {
        top: 110% !important;
    }

    .right-content {
        height: 38% !important;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 35px !important;
        height: 35px !important;
        top: 53% !important;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 13px !important;
    }
}